@font-face {
    font-family : 'nanumSquareRoundB';
    src : url("./font/NanumSquareRoundB.woff") format("woff");
}
@font-face {
    font-family : 'nanumSquare';
    src : url("./font/NanumSquareR.woff") format("woff");
}
@font-face {
    font-family : 'developerFont';
    src : url("./font/consola.woff") format("woff");
}

body {
    margin : 0px;
}
/*homeMessage : console.log("welcome")*/
#homeMessage {
    font-size: 25px;
    font-family : 'developerFont';
    color : #474144;
}
/*helloMessage : 계속해서 성장~~ 입니다.*/
.helloMessage {
    font-family : 'nanumSquareRoundB';
    font-size: 30px;
    /*width: 281px;*/
    height: 56px;
    text-align: left;
    margin : 0px;
    margin-bottom : 80px;
    /*margin-bottom : calc(350px - 60px - 54px);*/
}
p {
    margin-top : 0px;
    margin-bottom : 20px; 
}

.header {
    cursor:pointer;
    font-family : 'nanumSquareRoundB';
    display : flex;
    background-color : white;
    justify-content : space-between;
    align-items : center;
    flex-wrap : wrap;
    color : #474144;
    font-size : 16px;
    line-height : normal;
    z-index : 100;
    height : 70px;
    position : fixed;
    top : 0;
    left : 0;
    right : 0;
}

.menu {
    display : flex;
    justify-content : space-around;
    align-items : center;
    flex-wrap : wrap;
    padding-right : 12%;
    padding-top : 5px;
    padding-bottom : 5px;
    gap : 50px;
}
.home {
    padding-left : 12%;
    padding-bottom : 5px;
    padding-top : 5px;
}

.section {
    /*display : flex;*/
    padding-top : 70px;
    height : calc(100vh - 70px);
    background-color: #ECE9E7;
}
#home {
    display : flex;
    flex-direction : row;
    align-items: center;
    justify-content: center;
}
#homeContainer {
    display : flex;
    flex-direction: row;
    align-items : center;
    justify-content: center;
    padding-top : 2%;
}
.section1Container {
    display : flex;
    flex-direction : row;
    align-items: flex-start;
    justify-content : center;
}
#headerHome:hover {
    color : #DE712E;
}
#headerAbout:hover {
    color : #DE712E;
}
#headerKeywords:hover {
    color : #DE712E;
}
#headerProject:hover {
    color : #DE712E;
}
#headerContact:hover {
    color : #DE712E;
}


span.highlight {
    color : #3CA62B;
}



#introImage {
    width : 229px;
    height : 229px;
    overflow : hidden; /*넘치는 부분은 잘려 보이지 x*/
    margin : 0 ;
    margin-right : 60px;
}
.intro2 {
    display : flex;
    flex-direction: column;
    margin-right : 39px;
    width : 380px;
}

/*home의 image*/
.intro3 img {
    /*width : 50vmin;
    height : 50vmin;*/
    width : 350px;
    height : 350px;
    padding-left : 35px;
}




/*section2 About 페이지*/

ul {
    margin : 0px;
}
li {
    list-style: none;
    margin : 28px 0px;
    font-family : 'nanumSquare';
}

#aboutImage {
    width : 177px;
    /*height : 221px;*/
    overflow : hidden; /*넘치는 부분은 잘려 보이지 x*/
    border-left : 71px;
}
.info {
    display : flex;
    flex-direction : row;
    justify-content : center;
    padding-top : 2%;
}

h2 {
    font-family : 'nanumSquareRoundB';
    font-size : 40px;
    text-align : center;
    margin : 50px 0px;
    padding-bottom : 0px;
}
h3 {
    font-family : 'nanumSquare';
    font-size : 30px;
    display : inline;
}
.words {
    position : relative;
    z-index : 0;
}


#personality {
    top : 25%;
    left : 45%;
}

#education {
    top : 10%;
    left : 10%;
}
#study {
    top : 17%;
    left : 55%;
}
#motivation {
    top : 50%;
    left : 23%;
}
#likes {
    top : 40%;
    left : -15%;
}
.words {
    cursor : pointer;
}
#personality:hover {
    color : #DE712E;
}
#education:hover {
    color : #DE712E;
}
#study:hover {
    color : #DE712E;
}
#motivation:hover {
    color : #DE712E;
}
#likes:hover {
    color : #DE712E;
}

/************모달창 상세**************/
/*모달창 검정 배경*/
.modal {
    z-index :1;
    position:fixed;

    display:None;
    
    justify-content: center;
    top:0px;
    left:30;

    width:100%;
    height:100%;

    background-color: rgba(0,0,0,0.4);
}
/*모달창 객체*/
.modal_body{
    position:absolute;
    top:50%;
    width:809px;
    height:400px;

    padding:20px;  
    text-align: center;
    background-color: rgb(255,255,255); 
    border-radius: 31px;
    box-shadow:0 2px 3px 0 rgba(34,36,38,0.15); 

    transform:translateY(-50%);  
}
.modal_body h2 { /*모달창 큰 제목 (personalitt)*/
    font-size : 30px;
    margin : 10px;
    font-family : 'nanumSquareRoundB';
}
.modal_body hr { /*모달창 제목과 내용의 구분선*/
    margin-top : 20px;
    margin-bottom : 20px;
    border : 0;
    border-top : 1px solid #374144;
    font-family : 'nanumSquare';
}
.modal_body h3 { /*모달창 소제목*/
    margin-top : 0px;
    margin-bottom : 15px;
    font-size : 25px;
    font-family : 'nanumSquareRoundB';
}
.modal_body p { /*모달창 내용*/
    font-size : 18px;
}

/*사진이랑 설명 전부 들어있는 영역*/
.modal_content { 
    display : flex;
    flex-direction : row;
    justify-content : space-evenly;
    align-items:  flex-start;
}
/*설명만 들어있는 영역*/
.modal_info {
    display : flex;
    flex-direction : column;
}
/*모달창 안에 삽입되는 사진*/
#modalImage {
    width : 250px;
    height : 250px;
    object-fit : cover;
    margin-right : 20px;
}

/**************** 3. project 페이지*******************/

#project {
    display : flex;
    flex-direction : column;
    align-items : center;
}

/*캐러셀*/
.carousel img {
    width : 370px;
    height : 370px;
    object-fit: cover;
}

.carouselContainer {
    /*margin-top : 60px;*/
    width : 370px;
    height : 500px; /*450 -> 500*/
    overflow : hidden;

}
.carousel {
    display : flex;
    transition : all 0.5s;
}
.prevBtn,
.nextBtn {
    cursor : pointer;
    width : 20px;
    height : 20px;
    border-radius : 50%;
    padding : 5px;
    border : 1px solid black;
    display : inline-block;
}
.carouselBox {
    display : flex;
    flex-direction : row;
    align-items : center;
}

.visit img {
    width : 30px;
    height : 30px;
    margin-right: 5px;
}
.visit a {
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: 'nanumSquare';
    color: #474144;
}
.visit a:hover{
    color : #DE712E;
}
.carousel .infoMess {
    text-align : center;
    padding : 10px 0;
}
.visit {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

/**************** 4. contact 페이지*******************/
#contact {
    display : flex;
    flex-direction: column;
}
.circle {
    width : 100px;
    height : 100px;
    border-radius : 50%;
    background-color : tomato;
    cursor : pointer;
}
#github {
    background-color: white;
}
#notion {
    background-color: #88AFBA;
}
#gmail {
    background-color:white ;
}
.contactChannel {
    width : 50vw;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    margin : 0 auto;
    padding : 55px 0px;
}

#contact {
    /*display : flex;*/
    padding-top : 51px;
    height : calc(100vh - 70px - 70px);
    background-color: #ECE9E7;
}


.footer {
    display : flex;
    background-color : white;
    /*justify-content : space-between;*/
    align-items : center;
    flex-wrap : wrap;
    height : 70px;
    font-family : 'nanumSquareRoundB';
}

#footerImg {
    padding-right : 10px;
}