@font-face {
    font-family : 'nanumSquareRoundB';
    src : url("./font/NanumSquareRoundB.woff") format("woff");
}
@font-face {
    font-family : 'nanumSquare';
    src : url("./font/NanumSquareR.woff") format("woff");
}

body {
    margin : 0px;
}
.helloMessage {
    font-family : 'nanumSquareRoundB';
    font-size: 24px;
    width: 281px;
    height: 56px;
    text-align: center;
    margin : 0px;
    padding-bottom :41px;
}
p {
    margin : 0px; 
}

.header {
    cursor:pointer;
    font-family : 'nanumSquareRoundB';
    display : flex;
    background-color : white;
    justify-content : space-between;
    align-items : center;
    flex-wrap : wrap;
    color : #474144;
    font-size : 16px;
    line-height : normal;
    /*
    padding-left: 50%;
    padding-right : 30px;
    padding-top : 5px;
    padding-bottom : 5px;*/
    height : 51px;
    position : fixed;
    top : 0;
    left : 0;
    right : 0;
}
.menu {
    display : flex;
    justify-content : space-around;
    align-items : center;
    flex-wrap : wrap;
    padding-right : 30px;
    padding-top : 5px;
    padding-bottom : 5px;
    gap : 50px;
}
.home {
    padding-left : 30px;
    padding-bottom : 5px;
    padding-top : 5px;
}

.section {
    /*display : flex;*/
    padding-top : 51px;
    height : calc(100vh - 51px);
    background-color: #ECE9E7;
}
#home {
    display : flex;
    flex-direction : row;
    justify-content: center;
}



.btn.orange {
    background-color: #DE712E;
}
.btn.blue {
    background-color: #88AFBA;;
}
.btn {
    margin : 9px;
    text-decoration: none;
}
.btn {
    color: white; 
    padding: 15px 25px;
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom-color: rgba(0,0,0,0.34);
    text-shadow:0 1px 0 rgba(0,0,0,0.15);
    box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
                0 2px 0 -1px rgba(0,0,0,0.13), 
                0 3px 0 -1px rgba(0,0,0,0.08), 
                0 3px 13px -1px rgba(0,0,0,0.21);
}
.btn:active {
    top: 1px;
    border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
    box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
    position: relative;
}
.rounded {
    border-radius: 20px;
}
span.highlight {
    color : #3CA62B;
}

#introImage {
    width : 229px;
    height : 229px;
    overflow : hidden; /*넘치는 부분은 잘려 보이지 x*/
    margin : 0 ;
}
ul {
    margin : 0px;
}
li {
    list-style: none;
    margin : 28px 0px;
    font-family : 'nanumSquare';
}

#aboutImage {
    width : 177px;
    /*height : 221px;*/
    overflow : hidden; /*넘치는 부분은 잘려 보이지 x*/
    border-left : 71px;
}
.info {
    display : flex;
    flex-direction : row;
    justify-content : center;
}
h2 {
    font-family : 'nanumSquareRoundB';
    font-size : 40px;
    text-align : center;
    margin : 60px 0px;
    padding-bottom : 0px;
}
h3 {
    font-family : 'nanumSquare';
    font-size : 30px;
    display : inline;
}
.words {
    position : relative;
    z-index : 0;
}

#personality {
    top : 25%;
    left : 45%;
}
#education {
    top : 10%;
    left : 10%;
}
#study {
    top : 17%;
    left : 55%;
}
#motivation {
    top : 50%;
    left : 23%;

}
#likes {
    top : 40%;
    left : -15%;
}

.modal_body h2 {
    color: red;
    font-size : 30px;
    margin : 10px;
}
.modal_body hr {
    margin-top : 20px;
    margin-bottom : 20px;
    border : 0;
    border-top : 1px solid #374144;
}
.modal_body h3 {
    margin-top : 0px;
    margin-bottom : 5px;
    color: blue;
    font-size : 25px;
}
.modal_body p {
    color: green;
    font-size : 18px;
}

/*사진이랑 설명 들어있는 영역*/
.modal_content { 
    display : flex;
    flex-direction : row;
    justify-content : space-evenly;
}
/*설명만 들어있는 영역*/
.modal_info {
    display : flex;
    flex-direction : column;
}
.modal_info .btn {
    margin : 0px;
    padding: 5px 15px;
    font-size : 14px;
    text-decoration: none;
    color: white; 
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.21);
    text-shadow:0 1px 0 rgba(0,0,0,0.15);
}








#modalImage {
    width : 20vw;
    height : 30vh;
}

/*모달창 검정 배경*/
.modal {
    z-index :1;
    position:fixed;

    display:None;
    
    justify-content: center;
    top:0px;
    left:30;

    width:100%;
    height:100%;

    background-color: rgba(0,0,0,0.4);
}
/*모달창 객체*/
.modal_body{
    position:absolute;
    top:50%;
    /*
    width:400px;  
    height:600px; 
    */
    width:55vw;
    height:55vh;

    padding:20px;  

    text-align: center;

    background-color: rgb(255,255,255); 
    border-radius: 31px;
    box-shadow:0 2px 3px 0 rgba(34,36,38,0.15); 

    transform:translateY(-50%);  
}


/**************** 3. project 페이지*******************/
/*캐러셀*/
.carousel img {
    width : 370px;
    height : 370px;
    /*border-radius : 20px;*/
}
.carouselContainer {
    /*margin-left : 100px;*/
    /*margin-top : 60px;*/
    width : 370px;
    height : 450px;
    overflow : hidden;
}
.carousel {
    display : flex;
    transition : all 0.5s;
}
.prevBtn {
    /*margin-left : 250px;*/
}
.prevBtn,
.nextBtn {
    cursor : pointer;
    /*margin-top : 20px;*/
    padding : 5px;
    border-radius : 5px;
    border : 1px solid black;
    display : inline-block;
}
.carouselBox {
    margin-left : 33%;
    display : flex;
    flex-direction : row;
    align-items : center;
}
.visit img {
    width : 30px;
    height : 30px;
}
.carousel .info {
    text-align : center;
}


/**************** 4. contact 페이지*******************/
#contact {
    display : flex;
    flex-direction: column;
}
.circle {
    width : 100px;
    height : 100px;
    border-radius : 50%;
    background-color : tomato;
    cursor : pointer;
}
#github {
    background-color: #DE712E;
}
#notion {
    background-color: #88AFBA;
}
#gmail {
    background-color:#374144 ;
}
.contactChannel {
    width : 50vw;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    margin : 0 auto;
    padding : 55px 0px;
}